body {
  font-family: 'Spectral';
  font-size: 28px;
  text-align: center;
  border-color: #1a076b;
  border-style: solid;
  border-width: 20px;
}

.jumbotron {
  border-color: #4935a1;
  border-width: 10px;
  border-style: solid;
}

.container {
  border-color: #4d0180;
  border-width: 10px;
  border-style: solid;
}
